h1 a {
    text-decoration: none;
    color: rgb(0, 0, 190);
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.nav-card {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-item {
    padding: 10px 10px;
}

.nav-item a:hover {
    color: yellow;
    transition: 0.7s;
    font-size: 18px;
}

.footer-card {
    background-color: black;
    color: white;
    padding: 13px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.footer-item a {
    color: white;
    text-decoration: none;
}

.footer-item a:hover {
    color: blue;
    transition: 0.7s;
    font-size: 18px;
}

.home-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./Assets/Images/background.JPG');
    height: 600px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.home-item {
    padding: 0 54px ;
}

.main {
    display: flex;
    align-items: center;
}

.personal-pic {
    border-radius: 50%;
    height: 350px;
    width: auto;
    border: 3px solid #ddd;
}

.quote {
    color: yellow;
    display: flex;
    flex-wrap: wrap;
    width: 579px;
    justify-content: end;
    text-align: right;
    font-size: x-large;
}

#main-card {
    margin: 20px 0;
}

.about-card {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.about-me {
    padding: 0 100px;
    color: white;
}